.alike-angular-regular {
  font-family: "Alike Angular", serif;
  font-weight: 400;
  font-style: normal;
}
.agdasima-regular {
  font-family: "Agdasima", serif;
  font-weight: 400;
  font-style: normal;
}

.agdasima-bold {
  font-family: "Agdasima", serif;
  font-weight: 700;
  font-style: normal;
}
