@import url(https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Alike+Angular&display=swap);
.alike-angular-regular {
  font-family: "Alike Angular", serif;
  font-weight: 400;
  font-style: normal;
}
.agdasima-regular {
  font-family: "Agdasima", serif;
  font-weight: 400;
  font-style: normal;
}

.agdasima-bold {
  font-family: "Agdasima", serif;
  font-weight: 700;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #030206;
}
li,a,button{
  font-family: 'Alike Angular', serif;
  font-weight: 500;
  font-size: 16px;
  color:#FFFFFF;
  text-decoration: none;
}
header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px 10%;
  height: 250px;
}
.logo{
  cursor: pointer;
  height: 111px;
  width: 333px;
  align-self: left;
  margin: 0px 0px 0px -90px; 

}
.navlinks{
list-style: none;
}
.navlinks li{
  display: inline-block;
  padding: 0px 50px;
  align-self: auto;
  margin: 18px 0px 0px -50px;
  
}
.nav{
  position: fixed;
}
.navlinks li a{
  transition: all 0.3s ease 0s;
}
.navlinks li a:hover{
  color: #69021e;
}
button{
  padding: 9px 25px;
  background-color: #030206;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover{
  background-color: #69021e;
}
.ul{
  align-items: center;
}
.ftoexemplo{
  width: 40vh;
  height: 40vh;
  border-radius: 19%;
  margin: 60px 00px 00px 560px;
  padding: -50px -50px -50px -50px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); 
}
.hero h1{
  color: #FFFFFF;
  align-items: center;
  margin: -250px 0px 0px 979px;
  padding: 0px 0px 20px 0px;
}
 .hero h2{
  color: #FFFFFF;
  align-items: center;
  margin: 20px 0px 0px 979px;
  padding: -20px 0px 0px 0px;
}
 .hero p{
  color: #FFFFFF;
  align-items: center;
  margin: 50px 0px 0px 979px;
  padding: 0px 0px 20px 0px;
}
.whoami{
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 12px;
  color: whitesmoke;
  text-decoration: none;
  margin: 170px 0px 0px 870px;
  animation: blink 1.5s step-start 0s infinite;
  position: absolute;
  top: 165%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@keyframes blink {
  50% {
    opacity: 0.0;
  }
}

.copyright{
  margin: 250px 0px 0px -90px;
  position: absolute;
  top: 165%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.hero{
  margin: 0 auto;
  position: absolute;
  height: 200px;
  position: relative;
}
.resumo{
  margin: 400px 0px 0px 45px;
  color: #FFFFFF;
  font-family: 'Alike Angular', serif;
  font-weight: 200;
  font-size: 17px;
  text-align: center;
}
.text{
  margin: 0;
  position: absolute;
  top: 165%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.body{
  position: fixed;
}
