  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Alike Angular', serif;
  }
  html{
    font-size: 60%;
  }
  body{
    background-color: #030206;
    width: 100%;
    height: 100vh;
    color: white;
    overflow-x: hidden;
  }